<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/TempLokerenDev/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="TempLokerenDev" />
            <add key="ClearTextPassword" value="94060061035b7c8444e1d39721f7d6ea6a66c5f2" />
        </github>
      </packageSourceCredentials>
</configuration>